[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/Mark-Karkat"]
	path = bundle/Mark-Karkat
	url = https://github.com/vim-scripts/Mark--Karkat.git
[submodule "bundle/ps1"]
	path = bundle/ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/foldsearch"]
	path = bundle/foldsearch
	url = https://github.com/mah/vim-foldsearch
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/ShowMultiBase"]
	path = bundle/ShowMultiBase
	url = https://github.com/vim-scripts/ShowMultiBase.git
[submodule "bundle/BlockDiff"]
	path = bundle/BlockDiff
	url = https://github.com/vim-scripts/BlockDiff.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/mw-utils"]
	path = bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/fsharp"]
	path = bundle/fsharp
	url = https://github.com/kongo2002/fsharp-vim.git
[submodule "bundle/errormarker"]
	path = bundle/errormarker
	url = https://github.com/vim-scripts/errormarker.vim.git
