[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/Mark-Karkat"]
	path = bundle/Mark-Karkat
	url = https://github.com/vim-scripts/Mark--Karkat.git
[submodule "bundle/ps1"]
	path = bundle/ps1
	#url = https://github.com/PProvost/vim-ps1.git
	url = https://github.com/heaths/vim-ps1.git
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
	url = https://github.com/mah/LargeFile.vim.git
[submodule "bundle/abolish"]
	path = bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "bundle/foldsearch"]
	path = bundle/foldsearch
	url = https://github.com/embear/vim-foldsearch
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/ShowMultiBase"]
	path = bundle/ShowMultiBase
	url = https://github.com/vim-scripts/ShowMultiBase.git
[submodule "bundle/BlockDiff"]
	path = bundle/BlockDiff
	url = https://github.com/mah/BlockDiff.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/mw-utils"]
	path = bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/fsharp"]
	path = bundle/fsharp
	url = https://github.com/kongo2002/fsharp-vim.git
[submodule "bundle/errormarker"]
	path = bundle/errormarker
	url = https://github.com/mh21/errormarker.vim
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/bucciarati/taglist.vim.git
[submodule "bundle/qf"]
	path = bundle/qf
	url = https://github.com/vim-scripts/qf.vim.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/AsyncCommand"]
	path = bundle/AsyncCommand
	url = https://github.com/pydave/AsyncCommand.git
[submodule "bundle/Tail-Bundle"]
	path = bundle/Tail-Bundle
	url = https://github.com/vim-scripts/Tail-Bundle.git
[submodule "bundle/calendar"]
	path = bundle/calendar
	url = https://github.com/mattn/calendar-vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/stephpy-vim-yaml"]
	path = bundle/stephpy-vim-yaml
	url = https://github.com/stephpy/vim-yaml
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
